:global(.ui.menu) .brand:global(.item) {
  background: var(--brand-background);
  color: #fff;
  font-weight: bold;
}
:global(.ui.menu) .brand:global(.item):hover {
  background: var(--brand-background-hover);
  color: #fff;
}
.body {
  background: #fff;
}
.hero {
  padding: 7.5em 0 1.5em 0;
  background: #f3f4f5;
  color: rgba(0, 0, 0, 0.6);
}
.hero .share {
  display: flex;
  justify-content: flex-end;
}
.hero .share :global(.ui.horizontal.list > .item) {
  margin-right: 0.5em;
}
.hero .share :global(.ui.horizontal.list > .item:last-child) {
  margin-right: 0;
}

.hero .images > img:global(.ui.avatar.image) {
  width: 3em;
  height: 3em;
  max-width: none;
  border: 0.15em solid #fff;
  border-radius: 5em;
  margin-right: -0.5em;
}
.hero .images > img:global(.ui.avatar.image):last-child {
  margin-right: 0;
}

.content {
  border: 1px solid rgba(34, 36, 38, 0.1);
  border-width: 1px 0;
  padding: 2em 0;
}

.content :global(.ui.segment h2) {
  margin-top: 0rem;
}

.content :global(.ui.table i.icon),
.content :global(.ui.table strong) {
  color: #999;
}

.footer {
  padding: 2em 0 7em 0;
}
.footer > :global(.ui.segment) {
  background-color: var(--brand-background);
}
