.alertbox {
  text-align: center;
  background-size: auto auto;
  background-color: #fff;
  background-image: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 2px,
    var(--background-color) 2px,
    var(--background-color) 28px
  );
  color: var(--color);
  border: 1px solid #fee;
  padding: 1.25em 1em;
}
.alertbox > .alert {
  border-top: 1px solid var(--border-color);
  text-align: left;
  margin-top: 1.25em;
  padding-top: 1.25em;
  margin-left: 0 !important;
  padding-left: 1.25rem;
}
