@media screen and (max-width: 640px) {
  .hide-on-small-screens {
    display: none !important;
  }
}

.hero {
  margin: 0 0 2em 0;
  padding: 6em 0 2.5em 0;
  background: #eee;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.details {
  background: #eee;
  color: #999;
  margin: 1em -1em;
  padding: 3em 1em;
  text-align: center;
}

.footer {
  margin-top: 2em;
}
