.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
.details {
  background: #f3f4f5;
  color: rgba(0, 0, 0, 0.6);
  margin: 0em -1em 1em -1em;
  padding: 3em 1em;
  display: flex;
  align-items: center;
}
.details .title {
  flex-grow: 1;
}
.details .images {
  flex-grow: 0;
  text-align: center;
}
.images > img:global(.ui.avatar.image) {
  width: 7em;
  height: 7em;
  max-width: none;
  border: 0.2em solid #fff;
  border-radius: 5em;
  margin-right: -0.4em;
}
.images > img:global(.ui.avatar.image):last-child {
  margin-right: 0;
}
.registration {
  text-align: center;
  background-size: auto auto;
  background-color: #fff;
  background-image: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 2px,
    #fff6f6 2px,
    #fff6f6 28px
  );
  border: 1px solid #fee;
  padding: 1.25em 1em;
}
.registration > .alert {
  color: #a33;
  border-top: 1px solid #fee;
  text-align: left;
  margin-top: 1.25em;
  padding-top: 1.25em;
  margin-left: 0 !important;
  padding-left: 1.25rem;
}
.map {
  width: 100%;
  min-height: 450px;
  border: none;
}
