a {
  text-decoration: underline;
}
.show-on-small-screens {
  display: none;
}

@media screen and (max-width: 640px) {
  .hide-on-small-screens {
    display: none !important;
  }
  .show-on-small-screens {
    display: inherit !important;
  }
}

@media only screen and (max-width: 767.98px) {
  .ui.segment .ui.grid > .stackable.stackable.stackable.row > .column,
  .ui.segment .ui.stackable.grid > .column.grid > .column,
  .ui.segment .ui.stackable.grid > .column.row > .column,
  .ui.segment .ui.stackable.grid > .column:not(.row),
  .ui.segment .ui.stackable.grid > .row > .column,
  .ui.segment .ui.stackable.grid > .row > .wide.column,
  .ui.segment .ui.stackable.grid > .wide.column {
    padding: 1rem 0;
  }
}

.hero {
  margin: 0 0 2em 0;
  padding: 6em 0 2.5em 0;
  background: #f3f4f5;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
