.main {
  padding: 2rem 1rem 5rem 1rem;
}

.main a {
  text-decoration: none !important;
}

.thumbnail {
  aspect-ratio: 16/9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail :global(.ui.header) {
  margin: 1rem;
}
